<div class="skill-card">
    <div class="card-content-001">
        <div class="max-w d-flex">
            <div class="col-10">
                <span class="skill-name">
                    Skill Name
                </span>
            </div>
            <div class="col-2 icon-div">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="max-w d-flex center-a mt-2">
            <span class="skill-miniate-span">MY PRICE IS</span>
        </div>
        <div class="max-w d-flex center-a">
            <div class="dollar-div">
                <div class="max-w-50 d-flex center-a border-right">
                    <div class="first-dollar-wrap">
                        <span class="number-16">$500</span>
                        <span class="miniate-span">FIXED</span>
                    </div>
                </div>
                <div class="max-w-50 d-flex center-a column-flex">
                    <div class="max-w d-flex second-dollar">
                        <div class="left-number d-flex right-a">
                            <span>$50</span>
                        </div>
                        <div class="middle-hipen d-flex center-a">
                            <span>-</span>
                        </div>
                        <div class="right-number d-flex left-a">
                            <span>$70</span>
                        </div>
                    </div>
                    <div class="max-w d-flex center-a">
                        <span class="miniate-span">PER MONTH</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w d-flex center-a mt-1">
            <span class="skill-miniate-span">SKILL LEVEL</span>
        </div>
        <div class="max-w d-flex center-a">
            <div class="icon-wrap-001 d-flex">
                <div class="icon-wrap-002 d-flex center-a column-flex">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Hobbyist</span>
                </div>
                <div class="icon-wrap-002 d-flex center-a column-flex">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Skilled</span>
                </div>
                <div class="icon-wrap-002 d-flex center-a column-flex">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Expert</span>
                </div>
            </div>
        </div>
        <div class="max-w d-flex center-a mt-1">
            <span class="skill-miniate-span">CATEGORY</span>
        </div>
        <div class="d-flex center-a">
            <div class="categories row justify-content-center">
                <div class="category-specific">
                    <span>Beauty</span>
                </div>
                <div class="category-specific">
                    <span>Photography</span>
                </div>
            </div>
        </div>
    </div>
</div>
