<div class="card-product">
    <div class="image-container" style="background-image: url('https://i.gadgets360cdn.com/large/dell_xps_15_9500_image_notebookcheck_dell_france_1588254699768.jpg');">
        <div class="max-w d-flex text-end">
            <div class="icons-container">
                <div class="icon-div-menu">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="icon-div">
                    <span>
                        <i class="far fa-thumbs-up"></i>
                        3
                    </span>
                </div>
                <div class="icon-div">
                    <span>
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w d-flex col-height-1">
        <div class="major-col">
            <span class="product-name">iOS Development</span>
        </div>
        <div class="minor-col text-end">
            <span class="product-price">$70</span>
        </div>
    </div>
    <div class="max-w d-flex col-height-1">
        <div class="major-col">
            <span class="product-address">
                Downtown, Indianapolice
            </span>
        </div>
        <div class="minor-col text-end">
            <span class="product-time">2 hrs ago</span>
        </div>
    </div>
</div>
