<div class="main-contaner">

    <div class="container-001">
        <div class="profile-data" style="background-image: url('https://i.pinimg.com/originals/51/7e/83/517e83eb97c94ffc7bec62db71c3c586.jpg');">
            <div class="profile-name">
                <span>Shravan Naikini</span>
            </div>
            <div class="max-w-flex center-a">
                <div class="profile-rating-grid row">
                    <div class="col-7 description-001">
                        <span>
                            <span>Developer</span>
                        <span class="andromeda-row">
                            <ngb-rating max="5" rate="4" readonly="false"></ngb-rating>
                        </span>
                        </span>
                    </div>
                    <div class="col-5 description-001">
                        <span>
                            <i class="fas fa-circle"></i>
                            Online
                        </span>
                    </div>
                </div>
            </div>
            <div class="max-w-flex center-a">
                <div class="profile-location-wrap">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        Hyderabad, Telangana
                    </span>
                </div>
            </div>
            <!-- <div class="social-media">
                <div class="social-media-wrap">
                    <div class="icon-wrap facebook">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="icon-wrap youtube">
                        <i class="fab fa-youtube-square"></i>
                    </div>
                </div>
            </div> -->
            <div class="max-w-flex center-a">
                <div class="profile-photo" style="background-image: url('https://i.ibb.co/4ZW6qdS/shra1.jpg');">
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
        </div>

        <div class="max-w-flex center-a">
            <div class="profile-options row">
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <i class="far fa-handshake"></i>
                        </div>     
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Meet Now</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <i class="far fa-handshake"></i>
                        </div>
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Pay</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <i class="far fa-handshake"></i>
                        </div>
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Call</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <i class="far fa-handshake"></i>
                        </div>
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Chat</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-flex center-a">
            <div class="profile-text">
                <span>
                    What is Lorem Ipsum Lorem Ipsum is simply dummy text of 
                    the printing and typesetting industry Lorem Ipsum has been 
                    the industry's standard dummy text ever since the 1500s when 
                    an unknown printer took a galley of type and scrambled it to 
                    make a type specimen book it ha <a><span class="highlight">Report Spam</span></a>
                </span>
            </div>
        </div>

    </div>

    <div class="max-w-flex center-a">
        <div class="cards-presentation">
            <div class="max-w">
                <div class="max-w category">
                    <span>Skills</span>
                </div>
                <div class="venv">

                    <div>
                        <div class="panel-controls">
                        <div>
                            <button (click)="leftmove(panel1)" class="btn btn-primary">&lt;</button>
                            <button (click)="rightmove(panel1)" class="btn btn-primary ml-2">&gt;</button>
                        </div>
                        </div>
                        <div #panel1 id="scroll">
                        <div >
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                           
                        </div>
                        </div>
                    </div>  
                </div>
                <div class="max-w category">
                    <span>Goods</span>
                </div>
                <div class="venv">

                    <div>
                        <div class="panel-controls">
                        <div>
                            <button (click)="leftmove(panel2)" class="btn btn-primary">&lt;</button>
                            <button (click)="rightmove(panel2)" class="btn btn-primary ml-2">&gt;</button>
                        </div>
                        </div>
                        <div #panel2 id="scroll">
                        <div >
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                         <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                           
                        </div>
                        </div>
                    </div> 

                    
                </div>
                <div class="max-w category">
                    <span>Communities</span>
                </div>
                <div class="venv">

                    <div>
                        <div class="panel-controls">
                        <div>
                            <button (click)="leftmove(panel3)" class="btn btn-primary">&lt;</button>
                            <button (click)="rightmove(panel3)" class="btn btn-primary ml-2">&gt;</button>
                        </div>
                        </div>
                        <div #panel3 id="scroll">
                        <div >
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                            <div class="goods-card-enclosure"><app-product-card></app-product-card></div>
                        </div>
                        </div>
                    </div> 

                    
                </div>
            
               
            </div>

            
        </div>
    </div>
    
    <div style="height:300px;display:block"></div>

</div>
