
    <div *ngFor="let i of massData">
        <div class="rating-card">
            <div class="title justify-content-center">
                <div class="title-row row">
                    <div class="title-image"></div>
                    <div class="title-mention">
                        <span>{{i.title}}</span>
                    </div>
                </div>
            </div>
        
            <div class="andromeda">
                <div class="andromeda-row">
                    <span class="star on"></span>
                    <span class="star on"></span>
                    <span class="star on"></span>
                    <span class="star on"></span>
                    <span class="star half"></span>
                </div>
            </div>
        
            <div class="review-count">
                <span>{{i.reviewCount}}</span>
            </div>
        
            <div class="review-info">
                <div class="review-info-row">
                    <div class="review-by">
                        <span>{{i.date}}</span>
                    </div>
                    <div class="separator">
                        <i class="fas fa-circle"></i>
                    </div>
                    <div class="review-by">
                        <span>{{i.time}}</span>
                    </div>
                    <div class="separator">
                        <i class="fas fa-circle"></i>
                    </div>
                    <div class="user-image"></div>
                    <div class="review-by">
                        <span>{{i.name}}</span>
                    </div>
                </div>
            </div>
    </div>
    </div>















  
